<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Q42.HueApi.WinForm.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Q42.HueApi.WinForm.Sample.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>8ym0WVdJB0eSGzA5RWKRwMTaAnd7xJtOJd4vy3X6iyg=</value>
            </setting>
            <setting name="SearchTimeout" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LocationDisplayMask" serializeAs="String">
                <value>Light {0} ({1}, {2}).</value>
            </setting>
        </Q42.HueApi.WinForm.Sample.Properties.Settings>
    </userSettings>
</configuration>